<h3 style="width: 94.2%;border: 1px solid;background: #4C4A4A; margin-bottom:2px; margin-left: 6px;">Select As Per Your Interest</h3>
<% @image_categories.each do |image_category| %>
	<div class="product_box">
		<%= link_to image_tag(image_category.images.first.image_url, :class => 'list_image'),:controller => "images", :action=>"index",:id=> image_category.id %>
		<h3><%= image_category.title%></h3>
		<p class="product_price"><%= image_category.images.count%></p>
	</div>
<% end %>