<h3 style="width: 94.2%;border: 1px solid;background: #4C4A4A; margin-bottom:2px;; margin-left: 6px;"><%=@images.first.image_category.title%></h3>

<% @images.each do |image| %>
	<div class="product_box">
		<%= link_to image_tag(image.image_url, :class => 'list_image'),:controller => "images", :action=>"show",:id=> image.id %>
		<h3><%= image.title%></h3>
	</div>
<% end %>



